.search-app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.map-instance {
    margin-left: auto;
    width: 66% !important;
    height: 100% !important;
}

.sidebar-zone {
    display: flex;
    max-width: 670px;
    width: 100%;
}


.cards-list {
    width: 320px;
    flex-shrink: 0;
    overflow: auto;
    margin-left: auto;
}